/*<meta />*/

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

p.testing1
{
	font-family: 'Segoe UI';
}

p.testing2
{
	
}

MadCap|xref.RelLinkPageNumber
{
	margin-left: 0px;
}

